{% extends 'default.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<h1>Добро пожаловать на NewsPortal!</h1>
<hr>
<p align="left">
    <big><big>
        Это новостной портал где вы можете просматривать статьи и новости из различных категорий.
        Вы так-же можете стать автором и публиковать статьи и новости самостоятельно.
        Кроме того, на любую понравившуюся категорию вы можете подписаться и получать уведомление,
        когда появятся новые статьи на момент их публикации, а так-же еженедельную рассылку с новыми
        публикациями.
    </big></big>
</p>
{% endblock content %}